DATABASE_USER=user
DATABASE_PASS=pass
DATABASE_HOST=localhost
DATABASE_PORT=3306

DISCORD_BOT_CLIENT_ID=
DISCORD_BOT_TOKEN=

TRELLO_API_KEY=
TRELLO_API_TOKEN=

WHATSAPP_DISABLED=true

VERSION=dev

GITLAB_TOKEN=
